su2.elf
su
fakesu.elf
afake-su
deploy_su.sh
*.o
src/.tmp/
src/build/
src/bash-5.3/
src/proot-termux/build/
src/id
src/id.elf
src/hbptest
src/terhijack
src/terhijack.c
src/terhijack.bin
ref/
probe/
selinux/
src/ctx_file
src/ctx_test.txt
*.bak
*.o.tmp
fakesu.bak
.tmp/
src/termhijack*
